<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <script type="text/javascript" nonce="d7bde7a3346d4129be5312c0186"
            src="//local.adguard.org?ts=1626659363068&amp;type=content-script&amp;dmn=s3.amazonaws.com&amp;app=com.google.Chrome.helper&amp;css=1&amp;js=1&amp;gcss=1&amp;rel=1&amp;rji=1&amp;sbe=0"></script>
    <script type="text/javascript" nonce="d7bde7a3346d4129be5312c0186"
            src="//local.adguard.org?ts=1626659363068&amp;name=AdGuard%20Extra&amp;type=user-script"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Doubledown MiniGame OTA Ad-Hoc</title>
    <style>
        li {
            margin: 10px;
        }

        table {
            margin: 100px, 0;
        }
    </style>
</head>
<body>
<div class="container" style="margin-top:50px;">

    <h2> Download DDM DEV iOS - Need to register UDID </h2>
    <br/><br/>
    <table>
        <tr>
            <td valign="top">
                <ul>
                    <li>
                        <a href="itms-services://?action=download-manifest&url=https://dl.dropboxusercontent.com/s/rncfqwslusj8byu/DistributionSummary.plist"> DEV - DDM - 01</a>
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>

</body>
</html>
