<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
          <-- ipa가 업로드 되어 있는 URL -->
                    <key>url</key>
                    <string>https://www.dropbox.com/s/x48tfrd5ovtfdzp/ddm.ipa?dl=0</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
        <-- Bundle ID 값 -->
                <key>bundle-identifier</key>
                <string>com.doubledowninteractive.DDMinigame-dev</string>
        <-- Version 정보(안 바꿔줘도 다운로드 하는데 문제는 없음 -->
                <key>bundle-version</key>
                <string>1.0.0</string>
                <key>kind</key>
                <string>software</string>
        <-- 앱 이름 -->
                <key>title</key>
                <string>myApp</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
